.hero {
  background-image: url("../../../../public/images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
}
.hero .container {
 
}
.flex>span{
  color:white;
}
.hero h1 {
  color: #fff;
  font-size: 60px;
}
.hero p {
  color: #fff;
  opacity: 0.8;
}
form {
  background-color: black;
  border-radius: 5px;
  margin-top: 50px;
  padding: 0 20px;
}

form input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
  border-radius: 5px;
}
form span {
  font-size: 14px;
  color: grey;
}
input::placeholder {
  font-size: 17px;
  color: black;
}
form .box {
  padding: 15px;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
}
form .box:nth-child(1) {
  border-left: none;
}
form h4 {
  font-weight: 500;
}

.search{

  height: 70vh;
  width: 100%;
  
 

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

.keyword{
  width: 431px;
  height: 38px;
     border-radius: 10px;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 33%;
  margin: -28px 0 0 -25px;
   color:white;
   background-color: #fff;

}
.navSearch{
  display: flex;
   justify-content: space-around;
   align-items: center;
 
}
.navSearch>input{
  height:35px;
  width: 400px;
  outline: none;
  
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 20px;
  padding-left: 10px;
  
  border-radius: 5px;
  background-color: #fff;
  
}

.search-icon{
  
  background-color:#f4284d;
  padding: 4px;

  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  border-radius: 10px;
}



@media screen and (max-width: 800px) {
  .hero .container {
    padding-top: 30%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  form .box {
    border-left: none;
  }
  form input {
    width: 100%;
  }
}
